.helloInput {
  width: 200px;
}

.title{
  color: white;
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #839ac3;

}

.container .about {
 padding-top: 5px;
 display : flex;
 flex-direction : row;
  
}

.container .about .about-cell.box1 {
  padding-top: 35px;
  background:#839ac3;
  color:white;
}
.container .about .about-cell.box2 {
  padding-left: 25px;
  background:#839ac3;
  text-align:justify
}

.page-footer{
  background-color: #3a7fce;
}
main {
  flex: 1 0 auto;
}
    