.helloInput {
  width: 200px;
}

.title{
  color: white;
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #839ac3;

}

.social-size{
  width: 15%;
  height: 15%;
}
.page-footer{
  background-color: #3a7fce;
}
main {
  flex: 1 0 auto;
}
    